*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.zed
/.playwright-cli/
/output/
/auth.json
/node_modules
/public/build
/public/css/filament
/public/css/openplain
/public/fonts-manifest.dev.json
/public/fonts/filament
/public/hot
/public/js/filament
/public/js/openplain
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/template
